<div class="bookmark">
    <div>
    <span data-title="<%=bookmark.title%>"class="view_bookmark"id="view_bookmark_<%=bookmark._id%>">View</span> | 
    <span class="transfer_bookmark"id="transfer_bookmark_<%=bookmark._id%>">Copy to Tab</span> | 
    <span id="remove_bookmark_<%=bookmark._id%>"class="remove_bookmark">Remove</span>
    </div>
    <h3><%=bookmark.title%></h3>
  </div>