<div class="bookmark">
    <div>
    <span data-title="<%=bookmark.title%>"class="view_bookmark"id="view_bookmark_<%=bookmark._id%>">View</span> | 
    <span class="transfer_bookmark"id="transfer_bookmark_<%=bookmark._id%>">Cite</span> | 
    <span id="remove_bookmark_<%=bookmark._id%>"class="remove_bookmark">Remove</span>
    <%if(bookmark.personal_cross_origin === true || bookmark.public_daemon == 2){%>
    | <span id="add_daemon_<%=bookmark._id%>"class="add_daemon">Add to Daemons</span>
    <%}%>
    </div>
    <h3><%=bookmark.title%></h3>
  </div>