<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<br><br><br><br>
<div style="width:90%;margin:auto;"id="team_header">
    <h1>Buyers</h1>
    <h1>Get unlimited responses for the price of one.</h1>
    <h2>Create a Commission, Task, Challenge, or Question.</h2>
    <h4>Make an account and follow these steps.</h4>
    <ol>
        <li>Buy stars at the donation page or earn them by using the site.</li><br>
        <li>Create your request.<br><br>
            <picture>
               <source 
                  media="(max-width: 1045px)"
                  srcset="/images/commission1-mobile.png">
               <img class="commission-image" src="/images/create-commission.png">
            </picture></li><br>
        <li>Add a reward to the request.<br><br>
            <picture>
               <source 
                  media="(max-width: 1045px)"
                  srcset="/images/commission2-mobile.png">
               <img class="commission-image" style="width:1300px;" src="/images/increase-reward.png" alt="">
            </picture></li><br>
        </li>
        <li>Chat with creators to refine.</li><br>
        <li>Select the best answer!</li><br>
        <li><a class="basic_link grey-button" href="/loginform">GET STARTED</a><br></li><br>
        <li>Want to take a request instead? Click <a href="/creators">here</a>.</li>
    </ol>
</div>
<%- include('footer') %>