<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<br><br><br><br>
<div style="width:90%;margin:auto;">
    <h1>Get paid when people use your work.</h1>
</div>
<div style="width:90%;margin:auto;">
    <a href="#buyers">Jump to: For Buyers</a>
</div>
<div style="width:90%;margin:auto;"id="team_header">
    <h1>Creators</h1>
    <h2>Also get paid for: Commissions, Challenges, Tasks, and Questions.</h2>
    <h4>Make an account and follow these steps to get paid.</h4>
    <ol>
        <li>Setup payment options in Profile.</li><br>
        <li>Find a request.<br><br>
            <picture>
               <source 
                  media="(max-width: 1045px)"
                  srcset="/images/commission3-mobile.png">
               <img class="commission-image" src="/images/first-commission.png" alt="">
            </picture></li><br>
        <li>Add your work and get an extra reward when your answer is selected or has the most stars! (You get paid every month based on contribution points)</li><br>
        <li>By posting, you allow other creators to use your work on the website so long as they cite you, giving you stars whenever they get stars. You get points when you spend stars.</li><br>
        <li><a class="basic_link grey-button" href="/loginform">GET STARTED</a><br></li><br>
    </ol>
</div>
<br id="buyers"><br><br><br><br><br>
<div style="width:90%;margin:auto;"id="team_header">
    <h1>Buyers</h1>
    <h2>Create a Commission, Task, Challenge, or Question.</h2>
    <h4>Make an account and follow these steps.</h4>
    <ol>
        <li>Buy stars at the donation page or earn them by using the site.</li><br>
        <li>Create your request.<br><br>
            <picture>
               <source 
                  media="(max-width: 1045px)"
                  srcset="/images/commission1-mobile.png">
               <img class="commission-image" src="/images/create-commission.png">
            </picture></li><br>
        <li>Add a reward to the request.<br><br>
            <picture>
               <source 
                  media="(max-width: 1045px)"
                  srcset="/images/commission2-mobile.png">
               <img class="commission-image" style="width:1300px;" src="/images/increase-reward.png" alt="">
            </picture></li><br>
        </li>
        <li>Select the best answer!</li><br>
        <li><a class="basic_link grey-button" href="/loginform">GET STARTED</a><br></li><br>
    </ol>
</div>
<%- include('footer') %>