<div id="daemon_<%=daemon._id%>"class="daemon">
    <!-- <iframe style="display:none;"class="iframe" src="/eval/<%=daemon._id%>" frameborder="0" sandbox="allow-scripts allow-same-origin"></iframe> -->
    <div>
    <span data-title="<%=daemon.title%>"class="view_daemon"id="view_daemon_<%=daemon._id%>">View</span>
    <%if(daemon.default_daemon == false){%>
      | <span id="remove_daemon_<%=daemon._id%>"class="remove_daemon">Remove</span>
    <%}%>
    </div>
    <h3><%=daemon.title%></h3>
  </div>