<%if(passage != null){%>
<div class="detail-div"style="<%=bg || ''%>">
        <div style="<%=short%>"class="p-padding-box">
            <div class="toppings">
            <div style=""class="p-image-container">
            <%if(passage.author && passage.author.thumbnail != null && passage.author.thumbnail != ''){%>
                <%var thumbnailUrl = passage.author.thumbnail.startsWith('http') ? passage.author.thumbnail : '/uploads/' + passage.author.thumbnail;%>
                <div class="p-thumbnail"style="display:block;background:url('<%=thumbnailUrl%>');background-size:cover;background-position: center center;"id="profile_settings_image" src="<%=thumbnailUrl%>"></div>
                <%}else{%>
                    <ion-icon style=""class="profile_image"src="/images/ionicons/person-circle-outline.svg"></ion-icon>
                <%}%>
        <%if(passage.isSpecial){%>
            <%var addition = ' ' + passage.specialType;%>
            <%passage.label = passage.label.charAt(0).toLowerCase() + passage.label.slice(1);%>
        <%}else{%>
            <%var addition = '';%>
        <%}%>
        <%if(passage.isMirrored){%>
            <%var mirrorText = ', Mirrored from <a href="/passage/'+(passage.mirror.title == '' ? 'Untitled' : encodeURIComponent(passage.mirror.title))+'/'+passage.mirror._id+'">'+passage.mirror.title+'</a>';%>
        <%}else if(passage.isBestOf){%>
            <%var mirrorText = ', Best from <a href="/passage/'+(passage.bestOf.title == '' ? 'Untitled' : encodeURIComponent(passage.bestOf.title))+'/'+passage.bestOf._id+'">'+passage.bestOf.title+'</a>';%>
        <%}else{%>
            <%var mirrorText = '';%>
        <%}%>
        <%if(passage.best){%>
            <%var mirrorText = ', Best from <a href="/passage/'+(passage.best.title == '' ? 'Untitled' : encodeURIComponent(passage.best.title))+'/'+passage.best._id+'">'+passage.best.title+'</a>';%>
        <%}%>
        </div><div class="p-date<%=passage.author.admin ? ' p-date-admin' : ''%>"><%if(passage.author.admin){%><div class="p-admin">ADMIN</div><%}%><%- include('profile_thumbnail', {profile: passage.author}) %>, <%=passage.date ? passage.date.toLocaleDateString() : ''%><br class="mobile-show"><span class="mobile-hide">&emsp;&emsp;</span><%if(passage.forum){%><ion-icon style="color:brown;"src="/images/ionicons/ellipse.svg"></ion-icon> Forum<%}else if(passage.public){%><ion-icon style="color:green;"src="/images/ionicons/ellipse.svg"></ion-icon> <%=addition%> <%=passage.label%><%}else if(!passage.public){%><ion-icon style="color:red;"src="/images/ionicons/ellipse.svg"></ion-icon> <%=addition%> <%=passage.label%><%}%><%if(passage.location){%> in <%-passage.location%><%}%><%-mirrorText%>
        <%/*%>
        <%if(minor && passage.title == ''){%>
        <ion-icon data-id="<%=passage._id%>"id="show_passage_info"title="View Details"src="/images/ionicons/information-circle-sharp.svg"></ion-icon>
        <%}%>
        <%*/%>
        </div></div>
        <%if(user._id.toString() == passage.author._id.toString() && sub && !passage.selectedAnswer){%>
            <div><br><a id="select-answer-<%=passage._id%>">Choose as Winner</a></br></div>
        <%}%>
        <%if(passage.selectedAnswer && sub){%>
            <div><br>Selected Answer</div>
        <%}%>
        <%if(['Question', 'Task', 'Challenge', 'Commission'].includes(passage.label) && user){%>
            <div><br>Reward: <span id="reward-ticker-<%=passage._id%>"><%=passage.reward%></span> Contribution Point<%=passage.reward == 1 ? '' : 's'%> (<a id="add-reward-<%=passage._id%>">Increase</a>)</div>
            <div id="reward-form-<%=passage._id%>" style="display:none;">
                <br>
                <input id="reward-input-<%=passage._id%>"type="number" value="1"> Stars <button id="increase-reward-<%=passage._id%>">Add to Reward</button>
            </div>
        <%}%>
    <%if(passage.author && user && ((passage.author._id == user._id) || user.admin)){%>
        <%- include('editor') %>
    <%}else{%>
    <%}%>
    <div id="detail_title_<%=passage._id%>"class="detail_title"><h3><a style="color:white;"href="/passage/<%=passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title);%>/<%=passage._id%>"><%=bestOf ? (passage.title == '' ? 'Untitled' : passage.title) : passage.title%></a></h3></div>
    <input value="<%=passage.params%>"id="passage_params_<%=passage._id%>"type="hidden" name="">
    <%var showMore = '';%>
    <%if(passage.displayContent != null && passage.displayContent.replace(/<[^>]*>?/gm, '') != ''){%>
        <hr class="hr">
        <%}%>
        <%var content = passage.displayContent || passage.content;%>
        <%if(content == '<p><br></p>'){%>
            <%content = '';%>
        <%}%>
        <%if(!subPassage && sub && content){%>
            <%showMore = content.length < 800 ? '' : '<a href="/passage/'+(passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title))+'/'+passage._id+'"style="color:white;font-weight:bolder;cursor:pointer;">...Show More</a>';%>
                <%content = content.length < 800 ? content : content.substring(0,800).trim()%>
        <%}else{%>
            <%showMore = '';%>
        <%}%>
        <div class="detail_description" name="content" class="display_data_<%=passage._id%>"id="passage_detail_content_<%=passage._id%>"><%-content + showMore%></div>
        <%if(passage.yt && passage.yt.length > 1){%>
            <%var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;%>
            <%var embed = '';%>
            <%var match = passage.yt.match(regExp);%>
            <%if (match && match[2].length == 11) {%>
              <%embed = match[2];%>
            <%} else {%>
              <%//error%>
            <%}%>
            <div id="">
                <iframe width="560" height="315"
                src="https://www.youtube.com/embed/<%=embed%>?enablejsapi=1"
                frameborder="0" allowfullscreen
                id="youtube-player-<%=passage._id%>"
                data-passage-id="<%=passage._id%>"
                data-youtube-id="<%=embed%>"></iframe>
            </div>
            <br>
        <%}%>
        <div class="image-preview"id="image-preview-<%=passage._id%>"style="display:none;">
            <img class="preview-image"data-url="<%=passage.content%>"id="preview-image-<%=passage._id%>" src="" alt="Preview">
            <a style="display:block;"target="__blank"id="preview-link-url-<%=passage._id%>"></a>
            <div id="preview-link-description-<%=passage._id%>"></div>
        </div>
        <!-- <ul class="passage_tabs">
            <li class="passage_tab passage_tab_open_advanced">Advanced</li> -->
            <!-- Display Result -->
            <!-- <li class="passage_tab">Alternates</li> -->
        <!-- </ul> -->
    <canvas style="display:none;"id="thumbnail_canvas_<%=passage._id%>"></canvas>
    <%if(passage.filename || passage.video.length > 1 || passage.audio.length > 1 || passage.mimeType[0] == 'image'){ %>
        <%if(passage.filename == false){%>
            <%passage.filename = [1];%>
        <%}%>
        <%if(passage.vidImages && passage.vidImages.length > 0){%>
        <div id="vid-img-<%=passage._id%>">
            <div id="vid-img-<%=passage._id%>-loading">
                <div style="text-align: center;background:transparent;padding:20px;width:90%;margin:auto;">
                 <div class="circle"></div>
                 <div class="circle1"></div>
                 <div style=" color:rgba(255,255,255,0.9);
                 text-shadow:0 0 15px #fff; margin-top:-28px; margin-left:10px; font-weight:bolder">Loading...</div>
                </div>
            </div>
        </div>
        <br>
        Frames per Second<br>
        <input autocomplete="off"id="fps-counter-<%=passage._id%>"type="number" name="" value="1">
        <script type="text/javascript">
            var images = <%-JSON.stringify(passage.vidImages);%>;
            createVideoFromImages(images, 1 * 1000, "vid-img-<%=passage._id%>-loading");
        </script>
        <%}%>
        <%function addToFilePath(filepath, what){%>
            <%var splitPath = filepath.split('.');%>
            <%var firstPart = splitPath.slice(0, -1).join('.');%>
            <%var ext = splitPath.at(-1);%>
            <%return firstPart + what + '.' + ext;%>
        <%}%>
        <%for(var i = 0; i < passage.filename.length; ++i){%>
            <%if(!passage.isSVG && passage.mimeType[i] == 'image'){%>
                <%var imageUrl = '';%>
                <%if(passage.filename[i].startsWith('http')){%>
                    <%// External URL for simulated passages%>
                    <%imageUrl = passage.filename[i];%>
                <%}else{%>
                    <%// Local file handling%>
                    <%var filename = '';%>
                    <%if(passage.medium[i] == 'true'){%>
                        <%filename = addToFilePath(passage.filename[i], '_medium');%>
                    <%}else{%>
                        <%filename = addToFilePath(passage.filename[i], '_orig');%>
                    <%}%>
                    <%imageUrl = '/' + getUploadFolder(passage) + '/' + filename;%>
                <%}%>
                <img class="passage-file-<%=passage._id%> uploadedImage"id="passage-file-<%=passage._id%>"src="<%=imageUrl%>" alt="">
           <%}if(passage.isSVG){%>
               <img class="passage-file-<%=passage._id%>"id="passage-file-<%=passage._id%>"src="/<%=getUploadFolder(passage)%>/<%=passage.filename[i]%>" alt="">
           <%}if(passage.mimeType[i] == 'model'){%>
               <%if(passage.thumbnail == null){%>
                   <img id="p_thumbnail_<%=passage._id%>" alt="">
                   <!-- Create and upload thumbnail if it does not exist -->
                   <script>
                       var _id = "<%=passage._id%>";
                       const scene = new THREE.Scene();
                       const camera = new THREE.PerspectiveCamera( 75, 300 / 300, 0.1, 1000 );
                       var srcLink = "/<%=getUploadFolder(passage)%>/<%=passage.filename[i]%>";
                       const renderer = new THREE.WebGLRenderer();
                       renderer.domElement.id = "model_thumbnail_canvas_" + _id;
                       renderer.domElement.style = "display:none;";
                       renderer.setSize( 300, 300 );
                       $("#p_thumbnail_" + _id).after(renderer.domElement);
                       //load model into scene
                       var loader = new THREE.GLTFLoader();
                       loader.load(srcLink, function(data){
                           scene.add( data.scene );
                           camera.position.z = 5;
                           //make sure there is light to see the object
                           var light = new THREE.PointLight( 0xffffcc, 20, 200 );
                           light.position.set( 4, 30, -20 );
                           scene.add( light );
       
                           var light2 = new THREE.AmbientLight( 0x20202A, 20, 100 );
                           light2.position.set( 30, -10, 30 );
                           scene.add( light2 );
                           renderer.render(scene, camera);
                           //save snapshot of canvas to thumbnail field as data url
                           var base64Image = renderer.domElement.toDataURL();
                           $('#p_thumbnail_' + _id).attr('src', base64Image);
                           $.ajax({
                               type: 'post',
                               url: '/update_thumbnail/',
                               data: {
                                   passageID: _id,
                                   thumbnail: base64Image
                               },
                               success: function(data){
                                   // alert(data);
                               }
                           });
   
                           // $('#thumbnail_clip_' + id).val(base64Image);
                       });
                   </script>
               <%}else{%>
                   <img id="p_thumbnail_<%=passage._id%>" src="/<%=getUploadFolder(passage)%>/<%=passage.thumbnail%>" alt="">
               <%}%>
           <%}%>

        <%}%>
        <%if(passage.audio && passage.audio.length > 1){%>
               <%-passage.audio%>
           <%}else if(passage.video && passage.video.length > 1){%>
               <%-passage.video%>
           <%}%>
    <%}%>
    <!-- <div id="passage_details_advanced_<%=passage._id%>"class="passage_advanced"> -->
        <%if(passage.lang == 'mixed' && passage.lang != 'rich'){%>
            <%var html = passage.displayHTML || passage.html || '';%>
            <%if(!subPassage && sub){%>
                <%var showMoreHTML = html.length < 800 ? '' : '<a href="/passage/'+(passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title))+'/'+passage._id+'"style="color:white;font-weight:bolder;cursor:pointer;">...Show More</a>';%>
                <%html = html.length < 800 ? html : html.substring(0,800).trim() + '[...]'%>
            <%}else{%>
                <%var showMoreHTML = '';%>
            <%}%>
            <div id="passage_detail_html_<%=passage._id%>"style="width:30%;"class="code_display display_html display_data_<%=passage._id%>"><pre><code class="language-html"></code><%=html%></code></pre></div>
            <%var css = passage.displayCSS || passage.css || '';%>
            <%if(!subPassage && sub){%>
                <%var showMoreCSS = css.length < 800 ? '' : '<a href="/passage/'+(passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title))+'/'+passage._id+'"style="color:white;font-weight:bolder;cursor:pointer;">...Show More</a>';%>
                <%css = css.length < 800 ? css : css.substring(0,800).trim() + '[...]'%>
            <%}else{%>
                <%var showMoreCSS = '';%>
            <%}%>
            <div id="passage_detail_css_<%=passage._id%>"style="width:30%;"class="code_display display_css display_data_<%=passage._id%>"><pre><code class="language-css"><%=css%></code></pre></div>
            <%var js = passage.displayJavascript || passage.javascript || '';%>
            <%if(!subPassage && sub){%>
                <%var showMoreJS = js.length < 800 ? '' : '<a href="/passage/'+(passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title))+'/'+passage._id+'"style="color:white;font-weight:bolder;cursor:pointer;">...Show More</a>';%>
                <%js = js.length < 800 ? js : js.substring(0,800).trim() + '[...]'%>
            <%}else{%>
                <%var showMoreJS = '';%>
            <%}%>
            <div id="passage_detail_js_<%=passage._id%>"style="width:30%;"class="code_display display_js display_data_<%=passage._id%>"><pre><code class="language-javascript"><%=js%></code></pre></div>
            <%if(showMoreHTML.length > 0 || showMoreJS.length > 0 || showMoreCSS.length > 0){%>
                <br><%-showMoreHTML%><br>
            <%}%>
        <%}else if(passage.lang != 'rich'){%>
            <%var code = passage.displayCode || passage.code;%>
            <%if(!subPassage && sub && code){%>
                <%showMore = code.length < 800 ? '' : '<a href="/passage/'+(passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title))+'/'+passage._id+'"style="color:white;font-weight:bolder;cursor:pointer;">...Show More</a>';%>
                <%code = code.length < 800 ? code : code.substring(0,800).trim() + '[...]'%>
            <%}else{%>
                <%showMore = '';%>
            <%}%>
            <div id="passage_detail_code_<%=passage._id%>"class="display_code display_data_<%=passage._id%>"><pre><code class="language-<%=passage.lang == 'daemon' || passage.lang == 'daemonFrame' ? 'javascript' : passage.lang%>"><%=code%></code></pre></div><br><%-showMore%>
        <%}%>
        <!-- Show .EXT -->
        <!-- Show License -->
    <!-- </div> -->
    <%if(passage.filename && passage.filename.length > 0 && passage.filename != [1] && passage.filename != 1){%>
        <br><br>
        File(s):
        <br>
        <%for(file of passage.filename){%>
            <%var filename = addToFilePath(file, '_orig');%>
            <a target="_blank"href="/uploads/<%=filename%>"><%=filename%></a><br>
        <%}%>
    <%}%>
    <input id="passage_title_<%=passage._id%>"class="passage_title" value="<%=passage.title%>" type="hidden"name="title"placeholder="Title">
    <!-- Hide Iframe window if there is neither html nor js, or if it is not a daemon -->
    <%if((passage.lang != 'mixed') && (passage.lang != 'daemon' && passage.lang != 'daemonFrame') && (passage.displayHTML == null || passage.displayHTML == '') && (passage.displayJavascript == null || passage.displayJavascript == '')){%>
        <% hide = ' hide'; %>
    <%}else{%>
        <% hide = ''; %>
        <br><br>
        <a target="_blank"href="/eval/<%=passage._id%>"><ion-icon title="Full Screen"src="/images/ionicons/expand-outline.svg"></ion-icon></a>
    <%}%>
    <div id="passage_iframe_<%=passage._id%>"class="passage_iframe<%=hide%>" id="result_div">
        <%if((user && passage.personal_cross_origin && user._id == passage.author._id) || (passage.public_daemon == 2)){%>
            <!-- Only allow daemon in scope -->
            <%if(sub === false || subPassages){%>
                <iframe class="iframe" src="/eval/<%=passage._id%>" frameborder="0" sandbox="allow-scripts allow-same-origin"></iframe>
            <%}else{%>
                <iframe class="iframe" src="/eval/<%=passage._id%>" frameborder="0" sandbox="allow-scripts"></iframe>
            <%}%>
        <%}else{%>
            <iframe class="iframe" src="/eval/<%=passage._id%>" frameborder="0" sandbox="allow-scripts"></iframe>
        <%}%>
    </div>
</div>
    <%if((!passage.showBestOf && sub == true && passage.best != null)
        || passage.repost != null
        || (passage.bestSub && sub == true))%>
    <%if(passage.special != null){%>
    <hr>
    <%}%>
    <div>
    <%if(
        (!passage.showBestOf && passage.best != null)
        || passage.repost != null
        || (passage.bestSub)
        && passage
        && passage.special){
    %>
    <%-include('detail-div', {
        short: short, 
        passage: passage.special, 
        bg: 'background:rgba(0,0,0,0);',
        test: 'testing',
        link: false,
        bestOf: true,
        sub: true,
        last: true,
        minor: true
    })%>
    <%}%>
    </div>
    <%if(last){%>
    </div>
    <%}%>
<%}%>
