<%- include('html_head') %>
</head>
<%- include('header') %>
<input id="chief_passage_id"type="hidden" value="root"name="">
    <br><br><br><br><br><br>
    <div style="margin:auto;text-align:center;">
        <h1>Donate</h1>
        <h2><a target="_blank"href="https://buy.stripe.com/eVabLl8QJ5Wb11KaEE">Custom Amount</a></h2>
        <h2><a target="_blank"href="https://buy.stripe.com/fZe9Dd7MFfwL11K5kl">Subscribe</a></h2>
        <br><br>
        <h1><span style="color:black;"><%=stars%> Stars Given: $<%=usd%></span></h1>
        <h3>Tithe: 10%</h3>
        <h3>Operating Costs: 10%</h3>
        <h3>User rewards: 80%</h3>
        <br><br>
    </div>
<%- include('footer') %>
