<%- include('html_head') %>
</head>
<%- include('header') %>
<input id="chief_passage_id"type="hidden" value="root"name="">
    <br><br><br><br><br><br>
    <div style="margin:auto;text-align:center;">
        <h1><span style="color:gold;font-size:1.3em;">$<%=usd%></span></h1>
        <h1 style="font-size:3em;">Invest.</h1>
        <h2><a target="_blank"href="<%=donateLink%>">Custom Amount</a></h2>
        <h2><a target="_blank"href="<%=subscribeLink%>">Subscribe</a></h2>
        <!-- <h5>(Subscriber stars are multiplied by the number of months subscribed.)</h5> -->
        <br>
        <h3>Funds distributed monthly to Users based on merit.</h3>
        <!-- <h5 style="font-weight: normal; color: red;">Get Paid Monthly by Investing Stars in Projects.</h5> -->
        <br><br>
    </div>
<%- include('footer') %>
