<form id="passage_form_<%=passage._id%>"class="passage_form"action="/update_passage/" type="post"enctype="multipart/form-data">
    <input value="<%=passage._id%>"name="_id"type="hidden">
    <input id="passage_title_<%=passage._id%>"class="passage_title" value="<%=passage.title%>" type="text"name="title"placeholder="Title">
    <%var hide = '';%>    
    <%if(passage.lang == 'rich'){%>
        <%hide = '';%>
    <%}else{%>
        <%hide = 'hide2';%>
    <%}%>
        <div class="rich_input_<%=passage._id%> input-field-<%=passage._id%> <%=hide%>">
            <div class="passage_description" id="passage_content_<%=passage._id%>" cols="30" rows="10" placeholder="Content"></div>
            <input id="quill-data-<%=passage._id%>"value="<%=passage.content%>"name="content"type="hidden">
        </div>
        <%if(passage.lang == 'mixed'){%>
            <%hide = '';%>
        <%}else{%>
            <%hide = 'hide2';%>
        <%}%>
        <div class="mixed_input_<%=passage._id%> input-field-<%=passage._id%> <%=hide%>">
            <textarea style="display:none;"class="passage_html" name="html" id="passage_html_<%=passage._id%>" cols="30" rows="10" placeholder="HTML"><%=passage.html%></textarea>
            <textarea style="display:none;"class="passage_css" name="css" id="passage_css_<%=passage._id%>" cols="30" rows="10" placeholder="CSS"><%=passage.css%></textarea>
            <textarea style="display:none;"class="passage_js" name="js" id="passage_js_<%=passage._id%>" cols="30" rows="10" placeholder="Javascript"><%=passage.javascript%></textarea>
            <code-input template="code-input"lang="HTML"class="code_display display_html" id="display_html_<%=passage._id%>" placeholder="HTML"value="<%=passage.html || 'HTML'%>"></code-input>
            <code-input template="code-input"lang="CSS"class="code_display display_css" id="display_css_<%=passage._id%>" placeholder="CSS"value="<%=passage.css || 'CSS'%>"></code-input>
            <code-input template="code-input"lang="javascript"class="code_display display_js" id="display_js_<%=passage._id%>" placeholder="Javascript"value="<%=passage.javascript || 'Javascript'%>"></code-input>
        </div>
        <%if(passage.lang != 'rich' && passage.lang != 'mixed'){%>
            <%hide = '';%>
        <%}else{%>
            <%hide = 'hide2';%>
        <%}%>
        <div class="d-code-input-<%=passage._id%> input-field-<%=passage._id%> <%=hide%>">
            <div class="ace-editor"style=""id="editor-<%=passage._id%>"><%=passage.code || ''%></div>
            <script>
                var editor_<%=passage._id%> = ace.edit("editor-<%=passage._id%>");
                editor_<%=passage._id%>.setTheme("ace/theme/monokai");
                editor_<%=passage._id%>.session.setMode("ace/mode/<%=passage.lang == 'daemon' ? 'javascript' : passage.lang%>");
                editor_<%=passage._id%>.getSession().on("change", function () {
                    $('textarea[id="passage_code_<%=passage._id%>"]').val(editor_<%=passage._id%>.getSession().getValue());
                });
                editor_<%=passage._id%>.setOptions({
                fontSize: "10pt"
                });
            </script>
            <!-- <code-input template="code-input"lang="<%=passage.lang == 'daemon' ? 'javascript' : passage.lang%>"class="display_code" id="display_code_<%=passage._id%>" value="<%=passage.code || ''%>"></code-input> -->
            <textarea style="display:none;"class="passage_code" name="code" id="passage_code_<%=passage._id%>" cols="30" rows="10" autocomplete="off"><%=passage.code%></textarea>
        </div>

    <!-- Upload Directory -->
    <%/*%>
    <input id="passage_file_<%=passage._id%>"class="passage_file" name="file" type="file" autocomplete="off" webkitdirectory mozdirectory msdirectory odirectory directory />
    <%*/%>
    <input id="passage_file_<%=passage._id%>"class="passage_file" name="file" type="file" autocomplete="off" multiple/>
    <%if(passage.filename){%>
        <span id="remove-file-<%=passage._id%>"style="cursor:pointer;">Remove Files</span>
    <%}%>
    <div style="display:none;"id="passage_thumbnail_<%=passage._id%>">
        <img id="thumbnail_image_<%=passage._id%>"src="" alt="">
        <input id="thumbnail_clip_<%=passage._id%>"type="hidden" name="thumbnail">
    </div>
    <div id="passage_advanced_<%=passage._id%>"class="passage_advanced">
            <br>
            <div>Programming Language:</div><br>
            <input autocomplete="off" id="passage_ext_<%=passage._id%>"class="passage_ext passage_lang" value="<%=passage.lang%>" type="text"name="lang"placeholder="Programming Language">
            <script>
                $(function(){
                    $(document).on('keyup', '#passage_ext_<%=passage._id%>', function(){
                        switch($(this).val()){
                            case 'rich':
                                $('.input-field-<%=passage._id%>').hide();
                                $('.rich_input_<%=passage._id%>').show();
                            break;
                            case 'mixed':
                                $('.input-field-<%=passage._id%>').hide();
                                $('.mixed_input_<%=passage._id%>').show();
                            break;
                            default:
                            $('.input-field-<%=passage._id%>').hide();
                            $('.d-code-input-<%=passage._id%>').show();
                            editor_<%=passage._id%>.session.setMode("ace/mode/" + $(this).val());
                        }
                    });
                });
            </script>
            <div style="margin-top: 25px;">File Path:</div><br>
            <input autocomplete="off"id="passage_filestreampath_<%=passage._id%>"class="passage_ext" value="<%=passage.fileStreamPath%>" type="text"name="filestreampath"placeholder="">
            <%if(user && user.admin){%>
                <br>
                <%if(passage.mainFile){%>
                    <div style="color:red;">MAINFILE</div>
                <%}else{%>
                <button id="make_mainfile_<%=passage._id%>">Make Mainfile</button>
                <%}%>
                <%if(passage.mainFile){%>
                    <br>
                    <button id="make_mainfile_<%=passage._id%>">Run File</button>
                <%}%>
            <%}%>
            <div style="margin-top: 25px;">Bibliography:</div><br>
            <input id="passage_bibliography_<%=passage._id%>"class="passage_ext" value="<%=passage.bibliography%>" type="text"name="bibliography"placeholder="Additional Source Info">
            <!-- <div style="margin-top: 25px;">Inputs:</div><br>
            <input type="text"placeholder="input1" class="passage_input"><br>
            <button class="passage_button">More Inputs</button><br><br> -->
            <!-- <div style="margin-top: 25px;">Output:</div><br>
            <textarea class="passage-textarea"placeholder="Output"name="" id="" cols="30" rows="10"></textarea> -->
            <textarea style="display:none;"class="passage_license" name="license" id="passage_license_<%=passage._id%>" cols="30" rows="10" placeholder="LICENSE">All modules submitted to CES must first comply with the terms and agreements. You are allowed to utilize this work through citations on christianengineeringsolutions.com.&#13;&#10;<%=passage.license%></textarea>
    </div>
    <ul class="passage_tabs">
        <li id="passage_executable_<%=passage._id%>"class="passage_tab passage_tab_open_advanced view_code">Advanced</li>
    </ul>
    <br>
</form>
