<!-- Evaluation of a passage script (html/css/js) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script> 
    <title><%=passage.title%></title>
    <style><%=all.css%></style>
    <script src="/jquery.min.js"></script>
</head>
<body>
    <%-all.html%>
    <script><%-passage.libs%><%-all.javascript%></script>
</body>
</html>