<div class="forum_box">
            <%var i = 0;%>
            <%for(const category of categories){%>
                <div class="forum">
                    <div class="cat_title">
                    <span>&nbsp;</span> 
                    <%=category.title%>
                    </div>
                        <div class="subcat">
                        <table class="tbl_subcat">
                        <tr>
                        <td>Name</td>
                        <td>Topics</td>
                        <td>Posts</td>
                        <td>Last Post</td>
                            <%for(const cat of subcats){%>
                                <%if(cat.parent._id.toString() == category._id.toString()){%>
                            <tr>
                            <td><a href="#cat/<%=cat.title.replace(' ', '_')%>/<%=cat._id%>"><b><%=cat.title%></b>
                                <br/><i><%=cat.content%></i>
                        <i>
                            <%for(const subforum of subforums){%>
                                <%if(subforum.parent._id.toString() == cat._id.toString()){%>
                            &nbsp;<a href="#cat/<%=subforum.title.replace(' ', '_')%>/<%=subforum._id%>"><%=subforum.title%></a> 
                                    <%}%>
                            <%}%>
                            </a></td>
                            <td><%=scripts.getCategoryTopicsNum(cat);%></td>
                            <td><%=scripts.getNumPosts(cat);%></td>
                            <td><%-scripts.lastPost(cat);%></td>
                            </tr>
                            <%}%>
                            <%}%>

                        </table>
                        </div><br/>
                    </div>
                    <%++i;%>
            <%}%>
           </div>