    <div id="header">
        <%DAEMONS.forEach(function(daemon){%>
            <%=daemon.html%>
        <%});%>
        <input type="hidden" id="DOMAIN"value="<%=DOMAIN%>">
        <%-include('menu')%>
        <%-include('sidebar')%>
        <div id="application-bar">
            <ul id="application-bar-options">
                <li class="application-bar-option" style="color: #353535;">Sasame v3.1</li>
                <li class="application-bar-option">File</li>
                <li class="application-bar-option">Edit</li>
                <li class="application-bar-option">Selection</li>
                <li class="application-bar-option">View</li>
                <li class="application-bar-option">Go</li>
                <li class="application-bar-option">Help</li>
            </ul>
        </div>
        <div id="control_panel">
            <div id="control_nav">
                    <div id="main_header"style="text-align:center;padding:15px;">
                        <a href="/" class="basic_link">
                          <!-- <div id="perm_chapter">Christian Engineering Solutions</div> -->
                        </a>
                        <%if(LOCAL == 'true'){%>
                            <%if(CESCONNECT){%>
                                <%var color = 'green';%>
                            <%}else{%>
                                <%var color = 'red';%>
                            <%}%>
                            <!-- <ion-icon data-cesconnect="false"class="<%=color%>"id="remote_toggle"title="Remote"src="/images/ionicons/sync-circle.svg"></ion-icon> -->
                        <%}%>
                        <ion-icon style="font-size:1.5em;float:left;" id="menu-button"title="Menu"src="/images/ionicons/menu-sharp.svg"></ion-icon>
                        <div style="font-size:1.4em;cursor:pointer;"id="home_link">Infinity Forum</div>
                                <!-- <div style="font-size:1.1em">Infinity Forum</div> -->
                    </div>
                    <div id="options">
                        <a href="https://github.com/ChristianEngineeringSolutions/ChristianEngineeringSolutions/blob/master/blender.py" target="_blank"><ion-icon id="ppe_3d"class="ppe_option"title="3d Mode"src="/images/ionicons/cube-outline.svg"></ion-icon></a>
                             <ion-icon data-select="off"id="ppe_select"class="ppe_option"title="Select (q)"src="/images/ionicons/scan-outline.svg"></ion-icon>
                             <ion-icon id="ppe_mutate"class="ppe_option"title="Mutate (m)"src="/images/ionicons/color-palette-outline.svg"></ion-icon>
                             <ion-icon id="ppe_erase"class="ppe_option"title="Erase (e)"src="/images/ionicons/square-outline.svg"></ion-icon>
                             <ion-icon id="ppe_search_icon"class="ppe_option"title="Search (SPC)"src="/images/ionicons/search-outline.svg"></ion-icon>
                    </div>
                    <!-- <div id="tab_panel">
                        <ul id="tab_list">
                            <li id="new_tab" class="tab">+</li>
                        </ul>
                        <br><br><br>
                    </div> -->
                    <br><br><br>
            </div>
            <br>
            <%- include('ppe') %>
</div>
</div>