<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/extra/slider/slide.css" />
<!-- <link rel="stylesheet" type="text/css" href="/infinity/css/start.css" /> -->
<script type="text/javascript" src="/extra/slider/jquery.nivo.slider.js"></script>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<body>
<%- include('header') %>
<%- include('header2', {
  page: 'start'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
    <div id="middle">
        <div id="wrapper" >
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="/extra/slider/26.jpg" title="A place where your ideas become reality."/>
                    <!-- <img src="/slider/3.jpg" title="A place where you can create."/> -->
                    <img src="/extra/slider/8.jpg" title="A place where you can learn."/>
                    <img src="/extra/slider/20.jpg" title="A place where you can collaborate with people from all over the world."/>
                    <!-- <img src="/slide/25.jpg" title="A place where you can be different."/> -->
                </div>
            </div>
        </div>
    </div>
    <div id="mobile-middle">
      <img style="width:100%;margin-top:63px;"src="/extra/slider/20.jpg" title="A place where your ideas become reality."/>
    </div>
    <div id="mid_bar" class="bar"style="padding:5px;">
        <!-- <ion-icon style="font-size:4em;color:black"></ion-icon> -->
        <a id="tour-link"style="color:#000"class="fa fa-play-circle fa-4x"></a>
    </div>
    <span id="lead1">Be productive, creative, and social at the same time.</span>
    <div id="main2">
        <div id="main-body">
                <span class="lead lead1 i">Be productive, creative, and social at the same time.</span>
            <br><br>
            <div class="mobile-hide tablet-hide">
              <br><br>
            <a href="#idea"class="feature">
                <i class="fa fa-lightbulb fa-4x"></i><br>
                <span class="feature-text">Idea</span>
            </a>
            <span class="mobile-hide">&emsp;&emsp;</span>
            <i class="feature">
                <i class="fa fa-plus fa-3x math-icon"></i><br>
            </i>
            <span class="mobile-hide">&emsp;&emsp;</span>
            <a href="#information"class="feature">
                <i class="fa fa-globe fa-4x"></i><br>
                <span class="feature-text">Information</span>
            </a>
            <span class="mobile-hide">&emsp;&emsp;</span>
            <i class="feature">
                <i class="fa fa-plus fa-3x math-icon"></i><br>
            </i>
            <span class="mobile-hide">&emsp;&emsp;</span>
            <a href="#collaboration"class="feature">
                <i class="fa fa-users fa-4x"></i><br>
                <span class="feature-text">Collaboration</span>
            </a>
            <span class="mobile-hide">&emsp;&emsp;</span>
            <i class="feature">
                <i class="fa fa-plus fa-3x math-icon"></i><br>
            </i>
            <span class="mobile-hide">&emsp;&emsp;</span>
            <a href="#freedom"class="feature">
                <i class="fa fa-flag fa-4x"></i><br>
                <span class="feature-text">Freedom</span>
            </a><span class="mobile-hide">&emsp;&emsp;</span>
            <i class="feature"><span class="fa-4x math-icon">=</span></i>
            <span class="mobile-hide">&emsp;&emsp;</span>
            <a href="#amazing"class="feature">
                <i class="fa fa-check fa-4x"></i><br>
                <span class="feature-text">Something Amazing</span>
            </a>
            <br>
            <br>
            <br>
            <br>
            </div>
            <div id="primary"class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title lead"><i class="fa fa-gear fa-lg"></i> How it works</span>
                </div>
                <div class="panel-body lead">
                    <div class="panel-body-text">
                  On this new Social Network, you can create alternative versions of passages, while we keep track of who did what and when.<br>Get paid based on how much other people use your work.
              </div>
                  <!-- <button class="btn">Launch Your Idea</button> -->
                </div>
            </div>
            <br>
            <div id="idea"class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title lead"><i class="fa fa-newspaper fa-lg"></i> Passages</span>
                </div>
                <div class="panel-body lead">
                    <div class="panel-body-text">
                  On Infinity Forum, one posts “passages” which can be text, code, image, video, and more. Passages can also contain more passages (subpassages). Passages can be projects, which allow only certain members to add subpassages, or they can be tasks, which sort their subpassages by rank, or forum posts, whose subpassages are listed in the order they were posted. 
              </div>
                  <!-- <button class="btn">Launch Your Idea</button> -->
                </div>
            </div>
            <br>
            <div id="information"class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title lead"><i class="fa fa-star fa-lg"></i> Stars</span>
                </div>
                <div class="panel-body lead">
                    <div class="panel-body-text">
                  All passages on Infinity Forum are ranked by stars. You can give a free star to a passage by pressing the star button, or give additional stars you have earned from your posts. Stars are created when users donate money to the site, granting them an equivalent amount of stars as they donated money. Stars are also created when posts with sources get starred, as every source gets starred when a post gets starred.
              </div>
                  <!-- <button class="btn btn-success">Learn Something New</button> -->
                </div>
            </div>
            <br>
            <div id="collaboration"class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title lead"><i class="fa fa-book fa-lg"></i> Sources</span>
                </div>
                <div class="panel-body lead">
                    <div class="panel-body-text">
                  You can copy a passage by clicking “cite” for a bookmarked passage in the Bookmarks Bar. This will place a new passage in the current view with you as the author and the original listed as a source. You can also add sources to existing posts by clicking “add source” in the edit view.
              </div>
                  <!-- <button class="btn btn-primary">Find Awesome People</button> -->
                </div>
            </div>
            <br>
            <div id="freedom"class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title lead"><i class="fa fa-money-bill fa-lg"></i> The Pot of Money</span>
                </div>
                <div class="panel-body lead">
                    <div class="panel-body-text">
                  100% of all donations to Infinity Forum contribute to a pot of money that is paid to users each month based on their contributions.
              </div>
                  <!-- <button class="btn btn-danger">Contribute</button> -->
                </div>
            </div>
            <br>
            <div id="freedom"class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title lead"><i class="fa fa-wallet fa-lg"></i> Getting Paid</span>
                </div>
                <div class="panel-body lead">
                    <div class="panel-body-text">
                  You can start getting paid by clicking “Get Paid” in your profile settings (gear icon on profile page). This will take you to our payment processors page (Stripe), where you can setup your account details. Once you are all setup, every month you will receive a payment based on the amount of stars you have given to other users. You will receive the same percentage of the total pot of money as the percentage of stars given on the website have been from you.
                    </div>
                  <!-- <button class="btn btn-danger">Contribute</button> -->
                </div>
            </div>
            <br>
            <div id="freedom"class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title lead"><i class="fa fa-list fa-lg"></i> What to do</span>
                </div>
                <div class="panel-body lead">
                  <div class="panel-body-text">
                    On Infinity Forum you can:
                    <ol style="text-align:left;">
                    <li>Sort projects and tasks into locations where they belong, by clicking “cite” from the Bookmarks bar or Mirror the passage or its best subpassage by following the instructions in passage settings.</li>
                    <li>Create Alternative versions of passages, by clicking “cite” from the Bookmarks bar and then modifying the passage. Or by starting a new passage and adding sources by following the instructions in the “edit” tab.</li>
                    <li>Discuss topics in the Forum</li>
                    <li>Give stars to passages you think are useful, ranking them in the database.</li>
                    </ol>
                  </div>
                  <!-- <button class="btn btn-danger">Contribute</button> -->
                </div>
            </div>
            <br>
            <div id="freedom"class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title lead"><i class="fa fa-code fa-lg"></i> Customization and Development (Advanced)</span>
                </div>
                <div class="panel-body lead">
                    <div class="panel-body-text">
                  Users can create blocks of code that run on the page. Other users can then add these “daemons” to their profile activating them for them only. Developers can also create server-side code suggestions by filling in the Filepath field.
              </div>
                  <br><br>
                  <!-- <button class="btn btn-danger">Contribute</button> -->
                </div>
            </div>
            <br>
            <i id="amazing"class="fa fa-check fa-4x"></i>
            <p class="lead">
                <h2>
                    In just one place, make your dreams come to fruition. <br>
                    What will you create?
                    <br><br>
                  <!-- <button class="btn btn-warning">Get Started</button> -->
                </h2>
            </p>
            <br>
            <h2>Get Started</h2>
            <div>
                <a href="/loginform"><button style="color:white;background:rgba(204,204,204,.2);border: 1px solid rgba(255, 255, 255, 0.23);padding:20px;cursor:pointer;width:100%;font-size:2em;">REGISTER</button></a>
            </div>
            <h2>Or</h2>
            <div>
                <a href="/projects"><button style="color:white;background:rgba(204,204,204,.2);border: 1px solid rgba(255, 255, 255, 0.23);padding:20px;cursor:pointer;width:100%;font-size:2em;">CHECK OUT PROJECTS</button></a>
            </div>
        </div>
    </div>
    </div>
    <div class="tour"><div class="tour-main">Video Coming Soon!</div></div>
    
    <div class="boxx"><div class="boxx-main"></div></div>
    <script type="text/javascript">
        var specials = ['#idea', '#information', '#collaboration', '#freedom', '#amazing'];
        $('a[href*=#]').click(function() {
                alert(1);
        if($.inArray($(this).attr('href'), specials) !== -1){
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
        }
    });
    </script>
    <%-include('ppe')%>
</body>