<%- include('html_head') %>
</head>
<%- include('header') %>
            <%- include('ppe') %>
            <input id="chief_passage_id"type="hidden" value="<%=passage.id || root%>"name="">
            <div id="page_title"><%=passage.title || "Christian Engineering Solutions"%></div>
            <input id="search"placeholder="Search..." type="" name="" autocomplete="off">
            <button id="add_passage_button">+</button>
            <br>
            <div id="passage_wrapper">
                <!-- Show passage list or search list -->
                <%if(passages){%>
                    <%- include('passages') %>
                <%}else if (passage){%>
                <!-- Just show one passage -->
                    <%- include('passage', {passage: passage}) %>
                <%} %>
            </div>
            <div id="passage_form_wrapper"></div>
    <br>
        </div>
        <input type="hidden"id="custom_pairs" name="">
        <%- include('footer') %>
