<%- include('header') %>
            <%- include('ppe') %>
            <input id="search"placeholder="Search Solutions" type="" name="" autocomplete="off">
            <div>
                <h1 style="margin:auto;text-align: center;">Result</h1>
                <div style="border: 1px solid black; padding: 50px; width: 88%; margin:auto;" id="result_div">
                    <iframe src="/eval/<%=passage.id%>" frameborder="0" sandbox="allow-scripts"></iframe>
                </div>
            </div>
            <br>
            <%- include('passage') %>
    <br>
        </div>
        <input type="hidden"id="custom_pairs" name="">
        <%- include('footer') %>
