<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
<br>
<br>
<br>
<br>
<br>
<div style="width:90%;margin:auto;">
    <h2>
        Market Dashboard
    </h2>
    <div><a target="_blank"href="/stripeAuthorize"><%=!user.stripeOnboardingComplete ? "Setup Account to Create Products and get Paid" : "View Earnings and Payouts"%></a></div>
    <div><a href="/orders">View Orders</a></div>
    <div><a href="/sales">View Sales</a></div>
</div><br>
<div><input placeholder="Search...."id="market-search"class="search"type="text"></div><br>
<div style="width:90%;margin:auto;">Your Products:</div>
<%- include('page-numbers') %>
<%if(passages){%>
    <%- include('passages', {page: page}) %>
<%}%>
<%- include('page-numbers') %>
<%- include('footer') %>
