<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
<br>
<br>
<br>
<br>
<br>
<div>
    Market Dashboard
</div>
<div>Earnings Overview:</div>
<div><a target="_blank"href="/stripeAuthorize">View Earnings and Payouts</a></div>
<div><a href="/orders">View Orders</a></div>
<div><a href="/sales">View Sales</a></div>
<div>Create a Product</div>
<div>Search: <input type="text"></div>
<div>Your Products:</div>
<%if(passages){%>
    <%- include('passages', {page: 1}) %>
<%}%>
<%- include('footer') %>
