<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/extra/slider/slide.css" />
<!-- <link rel="stylesheet" type="text/css" href="/infinity/css/start.css" /> -->
<script type="text/javascript" src="/extra/slider/jquery.nivo.slider.js"></script>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<body>
<%- include('header') %>
<%- include('header2', {
  page: 'start'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
            <input id="chief_passage_id"type="hidden" value="<%=passage.id || root%>"name="">
            <input type="hidden" value="messages", id="is_profile"/>
            <input type="hidden" id="selection">
            <div id="page_title_container">
                <div id="page_title">Messages</div>
                <%if(passage.parent != null){%>
                    <div data-url="/passage/<%=encodeURIComponent(passage.parent.title)%>/<%=passage.parent._id%>"id="parent_title"><%=passage.parent.title%></div>
                <%}%>
                <%if(passageTitle){%>
                    <div id="page_title"><%= decodeURIComponent(passageTitle)%></div>
                <%}%>
            </div>
            <%if(passages){%>
                <input type="hidden" id="search">
                <input id="search_messages"placeholder="Search Messages..." type="" name="" autocomplete="off">
            <%}else if (passage){%>
                <input id="search"placeholder="Search Solutions..." type="hidden" name="" autocomplete="off">
                <input id="search_passage"placeholder="Search <%=passage.title%>..." type="" name="" autocomplete="off">
            <%} %>
            <br id="top_spacer">
            <div id="passage_wrapper">
                <!-- Show passage list or search list -->
                <%if(passages){%>
                    <%- include('passages') %>
                <%}else if (passage){%>
                <!-- Just show one passage -->
                    <%- include('passage', {passage: passage, sub: sub, subPassages: subPassages}) %>
                <%} %>
            </div>
            <div id="passage_form_wrapper"></div>
    <br>
        </div>
        <%if(passages){%>
            <div class="passage"id="view_more">View More</div>
        <%}else if (passage && passage.public == true){%>
            <div class="passage"id="view_more">View More</div>
        <%} %>
        <%- include('footer') %>
