<%if(Array.isArray(microDeals)){%>
	<%for(const microDeal of microDeals){%>
		<div class="micro-deal">
			<div>Agreed to by: <%=microDeal.agrees.join(', ')%></div>
			<div>Contract:</div>
			<div><%=microDeal.contract === '' ? 'No Additional Specifications.' : microDeal.contract%></div>
			<div>Payment Option: <%=microDeal.paymentOption%></div>
			<%if(microDeal.paymentOption === 'Flat Fee'){%>
				<div>Payment Amount: <%=microDeal.paymentAmount%></div>
			<%}else{%>
				<div>Payment Percentage: <%=microDeal.paymentPercentage%></div>
			<%}%>
		</div>
	<%}%>
<%}%>