<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
<br>
<br>
<br>
<br>
<br>
<div style="width:90%;margin:auto;">
    <div>
        <a href="/market-dashboard">Back to Market Dashboard</a>
    </div>
    <h2>Your Orders</h2>
</div><br>
<div><input placeholder="Search Orders...."id="market-search"class="search"type="text"></div><br>
<%- include('page-numbers') %>
<div id="orders" style="width:90%;margin:auto;">
    <%orders.forEach(function(order){%>
        <%if(order.passage != null){%>
            <%- include('order', {order: order, seller:true})%>
        <%}%>
    <%});%>
</div>
<%- include('page-numbers') %>
<%- include('footer') %>
