Users:
<%if(passage.users){passage.users.forEach(function(user) { %>
    <%=user.username%>,
<%});}else{%>
Anonymous
<%}%>
<br>
Add User:
<input type="">
<br>
Remove User:
<input type="text">
<br>
Toggle Green/Red for Active/Inactive
<br>
<div class="passage_setting green"id="passage_setting_make_private_<%=passage._id%>">Make Private (Default) (Only Team members can add/edit/delete)</div>
<div class="passage_setting red"id="passage_setting_make_public_<%=passage._id%>">Make Public (Everyone can add/edit/delete their own passages)</div>
<div class="passage_setting red"id="passage_setting_cross_origin_allowed_<%=passage._id%>">Cross Origin Allowed (Personal Advanced)</div>
<div class="passage_setting red"id="passage_setting_same_origin_<%=passage._id%>">Make Code Same Origin (Personal Advanced):</div>
<div class="passage_setting red"id="passage_setting_public_daemon_requested_<%=passage._id%>">Request Public Daemonization</div>
<div class="passage_setting red"id="passage_setting_admin_cross_origin_<%=passage._id%>">Cross Origin All (Admin Advanced Option)</div>
<div class="passage_setting red"id="passage_setting_admin_same_origin_<%=passage._id%>">Same Origin All (Admin Advanced Option)</div>
<div class="passage_setting red"id="passage_setting_admin_make_daemon_<%=passage._id%>">Make Public Daemon (Admin Advanced Option)</div>