<!-- 
Source variable: passage
 -->

<form id="passage_form_<%=passage._id%>"class="passage_form"action="/update_passage/" type="post"enctype="multipart/form-data">
    <input value="<%=passage._id%>"name="_id"type="hidden">
    <input id="passage_title_<%=passage._id%>"class="passage_title" value="<%=passage.title%>" type="text"name="title"placeholder="Title">
    <textarea class="passage_description" name="content" id="passage_content_<%=passage._id%>" cols="30" rows="10" placeholder="Content"><%=passage.content%></textarea>
    <!-- <button class="passage_plus_description">+</button> -->
    <!-- <textarea class="passage_description" name="tags" id="" cols="30" rows="10" placeholder="Tags"></textarea> -->
    <% if(passage.filename){ %>
    <img src="/uploads/<%=passage.filename%>" alt="">
    <%}%>
    <input id="passage_file_<%=passage._id%>"class="passage_file" name="file" type="file" autocomplete="off" />
    <div class="passage_advanced">
        <textarea class="passage_html" name="html" id="passage_html_<%=passage._id%>" cols="30" rows="10" placeholder="HTML"><%=passage.html%></textarea>
        <textarea class="passage_css" name="css" id="passage_css_<%=passage._id%>" cols="30" rows="10" placeholder="CSS"><%=passage.css%></textarea>
        <textarea class="passage_js" name="js" id="passage_js_<%=passage._id%>" cols="30" rows="10" placeholder="Javascript"><%=passage.javascript%></textarea>
    </div>
    <ul class="passage_tabs">
        <li id="passage_executable_<%=passage._id%>"class="passage_tab passage_tab_open_advanced">Advanced</li>
    </ul>
    <br>
</form>