<!-- 
Source variable: passage
 -->

<div id="detail_title_<%=passage._id%>"class="detail_title"><h3><%=passage.title%></h3></div>
<%if(passage.content != null && passage.content != ''){%>
<hr>
<%}%>
<div class="detail_description" name="content" id="passage_content_<%=passage._id%>"><%=passage.content%></div>
<!-- <button class="passage_plus_description">+</button> -->
<!-- <textarea class="passage_description" name="tags" id="" cols="30" rows="10" placeholder="Tags"></textarea> -->
<% if(passage.filename){ %>
<img src="/uploads/<%=passage.filename%>" alt="">
<%}%>
<!-- <div class="passage_advanced">
    <div class="passage_html" name="html" id="passage_html_<%=passage._id%>">
        <%=passage.html%>
    </div>
    <div class="passage_css" name="css" id="passage_css_<%=passage._id%>">
        <%=passage.css%>
    </div>
    <div class="passage_js" name="js" id="passage_js_<%=passage._id%>">
        <%=passage.javascript%>
    </div>
</div> -->
<input id="passage_title_<%=passage._id%>"class="passage_title" value="<%=passage.title%>" type="hidden"name="title"placeholder="Title">