<div id="passage_<%=passage.id%>" class="passage">
    <ul class="passage_options">
        <li id="passage_more_<%=passage.id%>" class="passage_option">More</li>
        <li id="passage_settings_<%=passage.id%>" class="passage_option">Settings</li>
        <!-- Shift passage location -->
        <li id="passage_move_<%=passage.id%>" class="passage_option">Move</li>
        <!-- Copy and move passage -->
        <li id="passage_copy_<%=passage.id%>" class="passage_option">Copy</li>
        <li id="passage_flag_<%=passage.id%>" class="passage_option">Flag</li>
        <li id="passage_comments_<%=passage.id%>" class="passage_option">Comments</li>
        <li id="passage_share_<%=passage.id%>" class="passage_option">Share</li>
        <li id="passage_download_<%=passage.id%>" class="passage_option">Download</li>
        <li id="passage_donate_<%=passage.id%>" class="passage_option">Donate</li>
        <li id="passage_update_<%=passage.id%>" class="passage_option">Update</li>
        <li id="passage_delete_<%=passage.id%>" class="passage_option">Delete</li>
    </ul>
    <ul class="passage_users">
        <!-- Profile Image layers -->
        <%if(passage.users){%>
            <%passage.users.forEach(function(user) { %>
                <%- include('profile_thumbnail', {user: user}) %>
        <%});%>
        <%}else{%>
            Anonymous
        <%}%>
        <!-- ... -->
    </ul>
    <div class="passage_stars">24 Stars</div>
    <!-- Hide Iframe window if there is neither html nor js -->
    <%if(passage.html == '' && passage.javascript == ''){%>
        <% hide = 'hide'; %>
    <%}else{%>
        <% hide = ''; %>
    <%}%>
    <div id="passage_iframe" class="<%=hide%>" id="result_div">
        <a style="float:right;"target="_blank"href="/eval/<%=passage.id%>">Full Screen</a>
        <iframe src="/eval/<%=passage.id%>" frameborder="0" sandbox="allow-scripts"></iframe>
    </div>
    <ul class="passage_tabs">
        <li class="passage_tab passage_tab_open_advanced">Advanced</li>
        <!-- Display Result -->
        <li class="passage_tab">Sources</li>
        <li class="passage_tab">Alternates</li>
        <li class="passage_tab">Tags</li>
    </ul>
    <%- include('passage_form') %>
    <!-- <div class="sub_passages"> -->
       
    <!-- </div> -->
 </div>
 <%if(passage.passages && sub === false){%>
    <%passage.passages.forEach(function(sub_passage) { %>
        <%- include('passage', {passage: sub_passage, sub: true}) %>
    <%}); %>
<%}%> 