<!-- 
Source variable: passage
 -->

<form id="passage_form_<%=passage._id%>"class="passage_form"action="/update_passage/" type="post"enctype="multipart/form-data">
    <input value="<%=passage._id%>"name="_id"type="hidden">
    <input id="passage_title_<%=passage._id%>"class="passage_title" value="<%=passage.title%>" type="text"name="title"placeholder="Title">
    <input id="quill-data-<%=passage._id%>"value="<%=passage.content%>"name="content"type="hidden">
    <div class="passage_description" id="passage_content_<%=passage._id%>" cols="30" rows="10" placeholder="Content"></div>
    <input id="passage_file_<%=passage._id%>"class="passage_file" name="file" type="file" autocomplete="off" />
    <div style="display:none;"id="passage_thumbnail_<%=passage._id%>">
        <img id="thumbnail_image_<%=passage._id%>"src="" alt="">
        <input id="thumbnail_clip_<%=passage._id%>"type="hidden" name="thumbnail">
    </div>
    <div id="passage_advanced_<%=passage._id%>"class="passage_advanced">
        <textarea style="display:none;"class="passage_html" name="html" id="passage_html_<%=passage._id%>" cols="30" rows="10" placeholder="HTML"><%=passage.html%></textarea>
        <textarea style="display:none;"class="passage_css" name="css" id="passage_css_<%=passage._id%>" cols="30" rows="10" placeholder="CSS"><%=passage.css%></textarea>
        <textarea style="display:none;"class="passage_js" name="js" id="passage_js_<%=passage._id%>" cols="30" rows="10" placeholder="Javascript"><%=passage.javascript%></textarea>
        <code-input lang="HTML"class="code_display display_html" id="display_html_<%=passage._id%>" placeholder="HTML"value="<%=passage.html || 'HTML'%>"></code-input>
        <code-input lang="CSS"class="code_display display_css" id="display_css_<%=passage._id%>" placeholder="CSS"value="<%=passage.css || 'CSS'%>"></code-input>
        <code-input lang="javascript"class="code_display display_js" id="display_js_<%=passage._id%>" placeholder="Javascript"value="<%=passage.javascript || 'Javascript'%>"></code-input>
    </div>
    <ul class="passage_tabs">
        <li id="passage_executable_<%=passage._id%>"class="passage_tab passage_tab_open_advanced view_code">Advanced</li>
    </ul>
    <br>
</form>
