<%if(subPassages && sub === false){%>
    <ul class="page-count">
        <%if(!passage.forum && (typeof comments == 'undefined' || !comments)){%>

        <%}else{%>
            <%for(var i = 1; i < totalPages + 1; i += 1){%>
                <%if(totalPages > 1){%>
                    <%if(typeof comments != 'undefined'){%>
                        <%var loc = comments ? 'comments' : 'passage';%>
                    <%}else{%>
                        <%var loc = 'passages';%>
                    <%}%>
                    <%if(!thread){%>
                        <a style="color:inherit;text-decoration:none;"href="/<%=loc%>/<%=passage.title == '' ? 'Untitled' : passage.title%>/<%=passage._id%>/<%=i%>"><li class="pnum pnum-<%=i%>"><%=i%></li></a>
                    <%}else{%>
                        <a style="color:inherit;text-decoration:none;"href="#thread/<%=passage.title == '' ? 'Untitled' : passage.title%>/<%=passage._id%>/<%=i%>"><li class="pnum pnum-<%=i%>"><%=i%></li></a>
                    <%}%>
                <%}%>
            <%}%>
        <%}%>
    </ul>
<%}%>
<%if(sub == false && passage.subforums != null && passage.subforums.length > 0){%>
    <%if(typeof subforums == 'undefined'){%>
        <div id="subforums-list">
            <a href="/subforums/<%=passage.title == '' ? 'Untitled' : passage.title%>/<%=passage._id%>">View Subforums</a>
        </div>
    <%}else{%>
        <div id="subforums-list">
            <a href="/passage/<%=passage.title == '' ? 'Untitled' : passage.title%>/<%=passage._id%>">View Sub Passages</a>
        </div>
    <%}%>
<%}%>
<%if(sub){%>
<%}else{%>
    <%var short = 'max-height:none;';%>
<%}%>
<div data-sub="<%=sub%>"id="passage<%=typeof altIteration == 'undefined' ? '' : altIteration%>_<%=passage._id%>" class="passage passage_<%=passage.public ? 'public' : 'private'%> <%=passage.forum ? 'passage_forum' : ''%>">
    <%if(passage.mirror != null){%>
        <input id="p_mirror_<%=passage._id%>"type="hidden"value="<%=passage.mirror._id%>" name="">
    <%}%>
    <%if(passage.bestOf != null){%>
        <input id="p_bestOf_<%=passage._id%>"type="hidden"value="<%=passage.bestOf._id%>" name="">
    <%}%>
    <div id="passage_settings_modal_<%=passage._id%>" class="modal">
        <%- include('passage_settings', {passage: passage}) %>
    </div>
    <div id="passage_sources_modal_<%=passage._id%>" class="modal">
        <%if(passage.sourceLink != null && passage.sourceLink.length > 1){%>
            <div class="passage_source_<%=passage._id%>"><a target="_blank"href="<%=passage.sourceLink%>">External Source</a></div>
        <%}%>
        <div>
            <b>Collaborators:</b>
            <%if(passage.collaborators && passage.collaborators.length > 0){passage.collaborators.forEach(function(collaber, i) { %>
                <a target="__blank"href="/profile/<%=collaber.username%>/<%=collaber._id%>"><%=collaber.name%></a>
                ,
            <%});}else{%>
                None
            <%}%>
        </div>
        <br>
        <%if((!passage.sourceList || passage.sourceList.length < 1) && (passage.sourceLink == null || passage.sourceLink.length < 1)){%>
            <div><b id="no-sources-<%=passage._id%>">No Sources</b></div>
            <div id="sourcelist_<%=passage._id%>"></div>
        <%}else{%>
        <b>Sources:</b>
        <div id="sourcelist_<%=passage._id%>">
            <div id="recursive-sources-<%=passage._id%>">
                <%passage.sourceList.forEach(function(source) { %>
                    <div class="passage_source_<%=passage._id%>"><a target="_blank"href="/passage/<%=source.title == '' ? 'Untitled' : source.title%>/<%=source._id%>"><%=source.title == '' ? "Untitled" : source.title%></a></div>
                <%});%>
            </div>
            <div id="original-sources-<%=passage._id%>"style="display:none;">
            <% if (passage.originalSourceList && passage.originalSourceList.length > 0) { %>
                <%passage.originalSourceList.forEach(function(source) { %>
                    <div class="passage_source_<%=passage._id%>"><a target="_blank"href="/passage/<%=source.title == '' ? 'Untitled' : source.title%>/<%=source._id%>"><%=source.title == '' ? "Untitled" : source.title%></a> <span class="passage_remove_source"data-source="<%=source._id%>"id="delete-passage-source-<%=passage._id%>" style="cursor:pointer;color:red;">X</span></div>
                <%});%>
            <%}%>
            </div>
            <%if(user && (user._id == passage.author._id || user.admin)){%>
                <br>
                <span id="remove-sources-<%=passage._id%>"class="link">Remove Sources</span>
            <%}%>
        </div>
        <%}%>
        <%if(user && ((user._id == passage.author._id) || user.admin)){%>
            <div class="add-source"id="add-source-<%=passage._id%>">+ Add Source</div>
            <div class="new-sources"id="new-sources-<%=passage._id%>">
                <br>
                Click "cite" in the <b id="b-bar-<%=passage._id%>"class="b-bar">Bookmarks Bar</b>
                <br><br>
            </div>
        <%}%>
        <br>
        <div>
            <b>Used In:</b>
            <% if (!passage.usedIn || passage.usedIn.length === 0) { %>
                No Passages <br>
            <% } else { %>
                <% passage.usedIn.forEach(function(usedPassage) { %>
                    <div><%-usedPassage%></div>
                <% }); %>
            <% } %>
        </div>
        <!-- List collaborators and allow them to be added (permanent) -->

        <!-- Show Additional Source info -->
        <%if(passage.bibliography != null && passage.bibliography != ''){%>
            <p><b>Additional Source Info:</b></p>
            <%-passage.bibliography.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;').replace(/\n/g, "<br>")%>
            <br>
        <%}%>
        <%if(passage.author != null && passage.author){%>
            <%if(passage.author && user && (passage.author._id == user._id || user.admin)){%>
                <br>
                <b>Versions:</b>
                <%if(passage.versions.length == 0){ %>
                    No Versions
                <%}%>
                <%passage.versions.forEach(function(version) { %>
                    <div class="passage_version_<%=passage._id%>"><a target="_blank"href="/passage/<%=version.title == '' ? 'Untitled' : version.title%>/<%=version._id%>"><%=version.title == '' ? "Untitled" : version.title%></a></div>
                <%});%>
            <%}%>
        <%}%>

    </div>
    <ul class="passage_options">
        <% if((typeof comments != 'undefined' && comments == true) || (sub === true && (passage.author && user && user._id.toString() == passage.author._id.toString() || (passage.passages && passage.passages.length > 0) || passage.public || passage.parent == null)) || sub === true){%>
        <li class="passage_option"><a class="hard-link"href="/passage/<%=passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title)%>/<%=passage._id%>">Details</a></li>
        <%}%>
        <%if((typeof comments == 'undefined' || !comments) && !passage.public && !passage.forum){%>
            <% var commentsLink = ''; %>
            <%if(passage.public){%>
                <%commentsLink = '/passage/' + (passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title)) + '/' + passage._id;%>
            <%}else{%>
                <%commentsLink = '/comments/' + (passage.title == '' ? 'Untitled' : encodeURIComponent(passage.title)) + '/' + passage._id;%>
            <%}%>
            <li id="passage_comments_<%=passage._id%>" class="passage_option"><a class="hard-link" href="<%-commentsLink%>">Comments</a></li>
        <%}%>
        <%if(user){%>
            <li id="passage_expand_<%=passage._id%>" class="passage_option passage_option_expand">Options</li>
            <span id="passage_condensed_<%=passage._id%>"class="condensed">
                <!-- Show them settings only if they made the passage -->
                <%if(passage.author != null && passage.author){%>
                    <%if((passage.author && user && passage.author._id == user._id && passage.versionOf == null) || user.admin){%>
                        <a class="basic_link option_link" href="#passage_settings_modal_<%=passage._id%>" rel="modal:open"><li id="passage_settings_<%=passage._id%>" class="passage_option">Settings</li></a>
                        <%}%>
                <%}%>
                <a class="basic_link option_link" href="#passage_sources_modal_<%=passage._id%>" rel="modal:open"><li id="passage_sources_<%=passage._id%>" class="passage_option">Sources</li></a>
                <!-- Shift passage location -->
                <!-- <li id="passage_download_<%=passage._id%>" class="passage_option">Download</li> -->
                <%if(user){%>
                <li id="passage_bookmark_<%=passage._id%>" class="passage_option">Bookmark</li>
                <%}%>
                <%if(!passage.public && !passage.forum){%>
                    <input type="hidden" id="passage_private_<%=passage._id%>"name=""value="true">
                <%}%>
                <%if(passage.author && user && (passage.author._id.toString() == user._id.toString()) || user.admin){%>
                    <%if(passage.public_daemon != 2 && passage.default_daemon != true && passage.versionOf == null){%>
                        <li id="passage_edit_<%=passage._id%>" data-quill="false"class="passage_option">Edit</li>
                        <li id="passage_update_<%=passage._id%>" class="passage_option">Update</li>
                        <li id="passage_delete_<%=passage._id%>" class="passage_option passage_delete">Delete</li>
                    <%}%>
                    <div id="passage-share-modal-<%=passage._id%>" class="modal">
                        <input class="share-passage"id="share-passage-<%=passage._id%>"type="text" placeholder="Enter Username">
                    </div>
                    <a class="basic_link option_link" href="#passage-share-modal-<%=passage._id%>" rel="modal:open"><li id="passage_share_<%=passage._id%>" class="passage_option">Share</li></a>
                    <%if(user && user.admin){%>
                        <li style="<%=passage.stickied ? 'color:gold' : ''%>"id="passage_sticky_<%=passage._id%>" class="passage_option">Sticky</li>
                    <%}%>
                    <%/*%>
                    <li id="passage-show-more-<%=passage._id%>" class="passage_option">More</li>
                    <span style="display:none;"id="passage-display-more-<%=passage._id%>">
                        <li id="passage-flag-<%=passage._id%>" class="passage_option">Flag</li>
                        <%if(LOCAL == 'true'){%>
                            <!-- Push passage to server -->
                            <li id="passage_push_<%=passage._id%>" class="passage_option">Push</li>
                            <input type="hidden" id="full_push_passage_<%=passage._id%>" value="<%=JSON.stringify(passage)%>">
                            <!-- Install to FileSystem -->
                            <li id="passage_install_<%=passage._id%>" class="passage_option">Install</li>
                        <%}%>
                    </span>
                    <%*/%>
                    <%if(LOCAL == 'true'){%>
                        <!-- Push passage to server -->
                        <li id="passage_push_<%=passage._id%>" class="passage_option">Push</li>
                        <input type="hidden" id="full_push_passage_<%=passage._id%>" value="<%=JSON.stringify(passage)%>">
                        <!-- Install to FileSystem -->
                        <li id="passage_install_<%=passage._id%>" class="passage_option">Install</li>
                    <%}%>
                <%}%>
                <%if(fromOtro){%>
                    <!-- Displayed via CES Connect -->
                    <!-- Pull passage from server -->
                    <li id="passage_pull_<%=passage._id%>" class="passage_option">Pull</li>
                    <form id="pull_form_<%=passage._id%>"style="display:none" action="/pull"method="POST"enctype="multipart/form-data">
                        <input type="text"name="passage"value="<%=JSON.stringify(passage)%>">
                        <input type="text"name="thumbnail"value="">
                    </form>
                    <input id="passage_json_<%=passage._id%>"type="hidden" value="<%=JSON.stringify(passage)%>">
                <%}%>
            </span>
        <%}else{%>
            <a class="basic_link option_link" href="#passage_sources_modal_<%=passage._id%>" rel="modal:open"><li id="passage_sources_<%=passage._id%>" class="passage_option">Sources</li></a>
        <%}%>
        <%if(sub == true && subPassages){%>
            <li id="passage_alternate_<%=passage._id%>" class="passage_option">Alt</li>
        <%}%>
        <%if(user){%>
            <li style="display:none;"id="save-alternate-<%=passage._id%>" class="passage_option">Save Alt</li>
        <%}%>
    </ul>
    <%-include('detail-div', {
        short: short, 
        bg: '',
        link: false,
        bestOf: false,
        last: false,
        minor: false
    })%>
    <%if(user){%>
        <%var bottom = 'bottom-bar-loggedin';%>
        <%var starBottom = ' star-bottom';%>
    <%}else{%>
        <%var bottom = 'bottom-bar-loggedout';%>
        <%var starBottom = '';%>
    <%}%>
   <div class="bottom-bar <%=bottom%>">
        <%if(user && passage.starrers){%>
        <%var gold = passage.starrers.toString().includes(user._id.toString()) ? 'color:gold;' : ''%>
        <%}%>
        <%if(user){%>
            <ion-icon class="repost"id="repost-<%=passage._id%>"style="font-size:1.4em;margin-right:20px;"title="Star Passage"src="/images/ionicons/repeat-sharp.svg"></ion-icon>
            <br class="bottom-br">
            <hr class="bottom-hr"style="background:rgba(204,204,204,.2);">
        <%}%>
        <div class="passage_stars<%=starBottom%>">
            <%if(user){%>
            <ion-icon class="star"id="star-<%=passage._id%>"style="font-size:1.2em;float:left;<%=gold%>"title="Star Passage"src="/images/ionicons/star.svg"></ion-icon>&emsp;<%}%><%=parseInt(passage.stars)%> Star<%=passage.stars == 1 ? '' : 's'%> &emsp; 
            <% if(user){ %>
                <!-- Get min and max from input: Min is 1, Max is number of stars user has -->
                <input autocomplete="off" id="star_number_<%=passage._id%>"class="star_number"value="1"min="1"max="<%=user.stars%>"type="number" />
                &nbsp;&nbsp;<span id="passage_add_stars_<%=passage._id%>"class="add_stars">Give</span>
            <% } %>
        </div>
    </div>
</div>
</div>
 <%if(subPassages && sub === false){%>
    <div style="display: inline;"id="sub_passages">
        <%subPassages.forEach(function(sub_passage) { %>
            <%if(passage.public){ var subP = false;%>
            <%}else { var subP = true; }%>
            <%- include('passage', {passage: sub_passage, sub: true, subPassage: subP}) %>
        <%}); %>
    </div>
    <ul class="page-count">
        <%if(!passage.public && !passage.forum && (typeof comments == 'undefined' || !comments)){%>
        
        <%}else{%>
            <%for(var i = 1; i < totalPages + 1; i += 1){%>
                <%if(totalPages > 1){%>
                    <%if(typeof comments != 'undefined'){%>
                        <%var loc = comments ? 'comments' : 'passage';%>
                    <%}else{%>
                        <%var loc = 'passage';%>
                    <%}%>
                    <%if(!thread){%>
                        <a style="color:inherit;text-decoration:none;"href="/<%=loc%>/<%=passage.title == '' ? 'Untitled' : passage.title%>/<%=passage._id%>/<%=i%>"><li class="pnum pnum-<%=i%>"><%=i%></li></a>
                    <%}else{%>
                        <a style="color:inherit;text-decoration:none;"href="#thread/<%=passage.title == '' ? 'Untitled' : passage.title%>/<%=passage._id%>/<%=i%>"><li class="pnum pnum-<%=i%>"><%=i%></li></a>
                    <%}%>
                <%}%>
            <%}%>
        <%}%>
    </ul>
<%}%> 