<!-- 
Source variable: passage
 -->

<form class="passage_form"action="">
    <div class="passage_advanced">
        <input class="passage_cross_origin"type="checkbox" name="" id=""> Cross Origin Allowed (Admin Advanced)
        <br>
        <textarea class="passage_html" name="html" id="" cols="30" rows="10" placeholder="HTML"><%=passage.html%></textarea>
        <textarea class="passage_css" name="css" id="" cols="30" rows="10" placeholder="CSS"><%=passage.css%></textarea>
        <textarea class="passage_js" name="js" id="" cols="30" rows="10" placeholder="Javascript"><%=passage.javascript%></textarea>
    </div>
    <input id="passage_title_<%=passage._id%>"class="passage_title" value="<%=passage.title%>" type="text"name="title"placeholder="Title">
    <ul class="description_options">
        <li class="description_option">Rich Text</li>
        <li class="description_option editor_option_active">Plain Text</li>
        <li class="description_option">Code</li>
        <li class="description_option">Markdown</li>
    </ul>
    <textarea class="passage_description" name="content" id="" cols="30" rows="10" placeholder="Content"><%=passage.content%></textarea>
    <!-- <button class="passage_plus_description">+</button> -->
    <!-- <textarea class="passage_description" name="tags" id="" cols="30" rows="10" placeholder="Tags"></textarea> -->
    <input class="passage_file" name="file" type="file" multiple>
</form>