Users:
<%if(passage.users){passage.users.forEach(function(user, i) { %>
    <%=user.username%>
    <%if(i !== 0){%>
        <span class="passage_remove_user"data-userId="<%=user._id%>"id="delete_passage_user_<%=passage._id%>">X</span>
    <%}%>
    ,
<%});}else{%>
Anonymous
<%}%>
<br>
Add User:
<input class="passage_add_user"id="passage_add_user_<%=passage._id%>"type="">
<br>
Toggle Green/Red for Active/Inactive
<br>
<div data-setting="private"class="passage_setting green"id="passage_setting_make_private_<%=passage._id%>">Make Private (Default) (Only Team members can add passages)</div>
<div data-setting="public"class="passage_setting red"id="passage_setting_make_public_<%=passage._id%>">Make Public (Everyone can add passages)</div>
<div data-setting="cross-origin-allowed"class="passage_setting red"id="passage_setting_cross_origin_allowed_<%=passage._id%>">Cross Origin Allowed (Personal Advanced)</div>
<div data-setting="request-public-daemon"class="passage_setting red"id="passage_setting_public_daemon_requested_<%=passage._id%>">Request Public Daemonization</div>
<%if(user && user.admin){%>
<div data-setting="admin-make-public-daemon"class="passage_setting red"id="passage_setting_admin_make_daemon_<%=passage._id%>">Make Public Daemon (Admin Advanced Option)</div>
<%}%>