<div class="ppe_canvas_container">
    <div>
        <span class="ppe_queue_link" data-href="/passage/<%=thumbnail.title%>/<%=thumbnail._id%>">Details</span>
        </div>
        <h3 ><%=thumbnail.title%></h3>
    <img src="/uploads/<%=thumbnail.filename%>"id="ppe_canvas_<%=thumbnail._id%>"class="ppe_queue_canvas">
</div>