<%- include('html_head') %>
</head>
<%- include('header') %>
<br><br><br><br>
<input id="chief_passage_id"type="hidden" value="root"name="">
<div id="profile_modal" class="modal">
    <%- include('settings_form', {profile: profile}) %>
</div>
<input type="hidden" value="<%=profile._id%>", id="is_profile"/>
<div id="profile_header">
  <div>
    <ion-icon id="profile_page_image"src="/images/ionicons/person-circle-outline.svg"></ion-icon>
    </div>
    <%if(profile.admin === true){%>
      <h1 style="color:red;">ADMIN</h1>
    <%}else{%>
      <%}%>
    <%if(user && user._id == profile._id){%>
  <a class="basic_link" href="#profile_modal" rel="modal:open"><ion-icon style=""id="user_settings_icon"title="Settings"src="/images/ionicons/settings-sharp.svg"></ion-icon></a>
  <%}%>
  &nbsp;
  <span id="parent_chapter_title"><%=profile.name%></span>
  <div id="profile_stars"><%=profile.stars%> Star<%-profile.stars == 1 ? '' : 's'%></div>
</div>
<input type="hidden" id="search">
<input id="search_profile"placeholder="Search Profile..." type="" name="" autocomplete="off">
  <%if(user && profile._id == user._id){%>
    <button id="add_passage_button">+</button>
  <%}%>
  <br>
  <div id="passage_wrapper">
      <!-- Show passage list or search list -->
      <%if(passages){%>
          <%- include('passages') %>
      <%}else if (passage){%>
      <!-- Just show one passage -->
          <%- include('passage', {passage: passage, sub: sub}) %>
      <%} %>
  </div>
  <div class="passage"id="view_more">View More</div>
  <div id="passage_form_wrapper"></div>
<script src="/js/profile.js"></script>
<%- include('footer') %>
