<%- include('header') %>
<br><br><br><br>
<div id="profile_modal" class="modal">
    <p><%=profile.username%></p>
    <p><%=profile.stars%> Stars</p>
    <p><%=profile.starsGiven%> Stars Given</p>
</div>
<input type="hidden" value="true", id="is_profile"/>
<div><ion-icon id="profile_page_image"src="/images/ionicons/person-circle-outline.svg"></ion-icon></div>
<a class="basic_link" href="#profile_modal" rel="modal:open"><ion-icon title="Details"src="/images/ionicons/settings-outline.svg"></ion-icon></a>
<span id="parent_chapter_title"><%=profile.username%></span>
<div id="chapter_description">
  <a href="/stripeAuthorize">Get Paid</a>
</div> 

<%- include('footer') %>
