<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
  page: 'profile'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
<br><br><br><br>
<input id="chief_passage_id"type="hidden" value="root"name="">
<input id="is_distraction_free"type="hidden" value="false"name="">
<div id="profile_modal" class="modal">
    <%- include('settings_form', {profile: profile}) %>
</div>
<input type="hidden" value="<%=profile._id%>", id="is_profile"/>
<div id="profile_header">
  <div>
    <%if(profile.thumbnail != '' && profile.thumbnail != null){%>
      <div style="width:140px;height:140px;background:url('/uploads/<%=profile.thumbnail%>');background-size:cover;background-position:center center;border-radius:5px;margin:auto;"id="profile_settings_image" src="/uploads/<%=profile.thumbnail%>"></div>
      <%}else{%>
        <ion-icon style="font-size:5em;"id="profile_page_image"src="/images/ionicons/person-circle-outline.svg"></ion-icon>
      <%}%>
    </div>
    <%if(profile.admin === true){%>
      <h1 style="color:red;">ADMIN</h1>
    <%}else{%>
      <%}%>
    <%if(user && user._id == profile._id){%>
  <a class="basic_link" href="#profile_modal" rel="modal:open"><ion-icon style=""id="user_settings_icon"title="Settings"src="/images/ionicons/settings-sharp.svg"></ion-icon></a>
  <%}%>
  &nbsp;
  <span id="parent_chapter_title"><%=profile.name%></span>
  <div style="font-size:1em;color:grey;"><%=profile.username%></div>
  <div id="profile_stars">
    <p><%=parseInt(profile.stars)%> Star<%-parseInt(profile.stars) == 1 ? '' : 's'%>. <%=profile.starsGiven%> Star<%-profile.starsGiven == 1 ? '' : 's'%> Invested ($<%=usd%>)</p>
  </div>

</div>
<%if(user && profile._id == user._id){%>
  <div style="cursor:pointer;text-align: center;margin:auto;padding:10px;margin-bottom:15px;color:grey;"id="view-personal"><a href="/personal/<%=user._id%>"class="basic_link">View Personal Passages</a></div>
<%}else{%>
  <div style="cursor:pointer;text-align: center;margin:auto;padding:10px;margin-bottom:15px;color:grey;"id="view-personal"><a href="/personal/<%=user._id%>"class="basic_link">Follow</a></div>
<%}%>
<input type="hidden" id="search">
<input id="search_profile"placeholder="Search Profile..." type="" name="" autocomplete="off">
  <%if(user && profile._id == user._id){%>
    <button id="add_passage_button">+</button>
    <input id="clean_editor"type="hidden" name=""value='<%- include("clean_editor", {passage:passage, page: 'stream'})%>'/>
  <%}%>
  <br>
  <div id="passage_wrapper">
      <!-- Show passage list or search list -->
      <%if(passages){%>
          <%- include('passages') %>
      <%}else if (passage){%>
      <!-- Just show one passage -->
          <%- include('passage', {passage: passage, sub: sub}) %>
      <%} %>
  </div>
  <br>
  <div class="passage"id="view_more">View More</div>
  <div id="passage_form_wrapper"></div>
<script src="/js/profile.js"></script>
<div style="display:none;"id="small-loading">
            <div style="text-align: center;background:transparent;padding:20px;width:90%;margin:auto;">
             <div class="circle"></div>
             <div class="circle1"></div>
             <div style=" color:rgba(255,255,255,0.9);
             text-shadow:0 0 15px #fff; margin-top:-28px; margin-left:10px; font-weight:bolder">Loading...</div>
            </div>
        </div>
<%- include('footer') %>
