<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
<br>
<br>
<br>
<br>
<br>
<div>
    <a href="/market-dashboard">Back to Market Dashboard</a>
</div>
<div>
    Your Sales
</div>
<div>
    <a id="market-view-both" href="">View Both</a> | <a id="market-view-unshipped" href="">View Unshipped</a> | <a id="market-view-shipped" href="">View Shipped</a>
</div>
<%# include search by id %>
<div><input placeholder="Search Sales...."id="market-search"class="search"type="text"></div>
<%- include('page-numbers') %>
<%orders.forEach(function(order){%>
    <%if(order.passage != null){%>
        <%- include('order', {order: order, seller:false})%>
    <%}%>
<%});%>
<%- include('page-numbers') %>
<%- include('footer') %>
