<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
<br>
<br>
<br>
<br>
<br>
<div>
    Your Sales
</div>
<%# include search by id %>
<div>Search Sales: <input type="text"></div>
<%orders.forEach(function(order){%>
    <%if(order.passage != null){%>
        <%- include('order', {order: order, seller:false})%>
    <%}%>
<%});%>
<%- include('footer') %>
