<div>
    <%if(profile.thumbnail != '' && profile.thumbnail != null){%>
    <img style="width:75px;"id="profile_settings_image" src="/uploads/<%=profile.thumbnail%>">
    <%}else{%>
    <ion-icon id="profile_page_image"src="/images/ionicons/person-circle-outline.svg"></ion-icon>
    <%}%>
</div>
<form id="update_profile_picture"action="/change_profile_picture/" method="POST" enctype="multipart/form-data">
    <input type="file" accept="image/*"id="upload_profile_photo"name="photo"autocomplete="off"/>
    <br><br>
    <button id="change-photo">Change</button>
</form>
<p><%=profile.username%></p>
    <a target="_blank"href="/stripeAuthorize">Get Paid (<%=profile.stripeOnboardingComplete == true ? "Active" : "Inactive"%>)</a>
    <br><br>
    <form id="settings_form" action="/update_settings/" method="POST">
        <input name="oldUsername"id="oldUsername"type="hidden"value="<%=profile.username%>" />
        <input name="oldName"id="oldName"type="hidden"value="<%=profile.name%>" />
        <input name="newUsername"id="newUsername"type="hidden"value="<%=profile.username%>" />
    <div>
        Username: <span id="register_username_load"><%=profile.username%></span>
        <br>
        <label>Name:</label>
        <input id="register_username" type="text" value="<%=profile.name%>"name="name"autocomplete="off" required/>
    </div>
    <div>
        <label>Email:</label>
        <input placeholder="Recommended" id="register_email" value="<%=profile.email%>"type="text" name="email"autocomplete="off"/>
    </div>
    <div>
        <label>Bio:</label>
        <textarea autocomplete="off"style="display: block;width: 100%;margin-bottom: 5px;"name="about"><%=profile.about%></textarea>
    </div>
    <br>
    <div id="same-collabers-<%=passage._id%>"><input id="passage_same_collabers_<%=passage._id%>"<%=profile.safeMode ? ' checked ' : ''%>type="checkbox" autocomplete="off" name="safe-mode"> Safe Mode (Analyze media before showing)</div>
    <br>
    <div>
        <label>New Password:</label>
        <input placeholder="If changing password"id="register_password" value=""type="password" name="password"autocomplete="new-password"/>
    </div>
    <div>
        <label>Confirm New Password:</label>
        <input placeholder="If changing password"id="register_confirm" type="password" name="passwordConf"autocomplete="new-password"/>
    </div>
    <div>
        <label>Current Password:</label>
        <input placeholder="Required"id="register_confirm" type="password" name="oldPassword"autocomplete="new-password"/>
    </div>
    <!-- <div>
        <label>Developer Mode (Advanced):</label>
        <input id="register_confirm" type="checkbox" name="passwordConf"autocomplete="off"/>
    </div> -->
    <div>
        <input class="settings-update"id="register_button"type="submit" value="Update"/>
    </div>
</form>
