<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
<input id="chief_passage_id"type="hidden" value="root"name="">
    <br><br><br><br><br><br>
    <div style="margin:auto;text-align:center;">
        <h3>You owe:</h3>
        <h1><%=borrowedAmount%> Star<%=borrowedAmount == 1 ? '' : 's';%></h1>
        <h1 style="font-size:3em;">Borrow Stars:</h1>
        <h5 id="update-subscription"style="font-weight:normal;color:white;cursor:pointer;"><input type="number" id="quantity" autocomplete="off"value="1" min="1">
            <button id="borrowButton">Borrow</button>
            </h5>
        <!-- <h5>(Subscriber stars are multiplied by the number of months subscribed.)</h5> -->
        <h3 style="margin-top:50px;">Borrowed stars are automatically paid back before you can earn new stars.<br>You cannot earn contribution points by spending borrowed stars.</h3>
        <h3>Other ways to earn stars: Post, Give Stars, Donate.</h3>
        <!-- <h5 style="font-weight: normal; color: red;">Get Paid Monthly by Investing Stars in Projects.</h5> -->
        <br><br>
    </div>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
          const borrowButton = document.getElementById('borrowButton');
          const quantityInput = document.getElementById('quantity');

          borrowButton.addEventListener('click', async () => {
            const quantity = parseInt(quantityInput.value, 10);
            if (isNaN(quantity) || quantity < 0) {
              alert('Please enter a valid quantity.');
              return;
            }

            try {
                if(quantity == 0){
                    //pass
                }else{
                    $.ajax({
                        type: 'post',
                        url: '/borrow-stars',
                        data: {
                            quantity: quantity
                        },
                        success: function(data){
                            alert(data);
                            window.location.reload();
                        }
                    });
                }   

            } catch (error) {

            }
          });
        });
    </script>
<%- include('footer') %>
