<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: page
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<input id="clean_editor"type="hidden" name=""value='<%- include("clean_editor", {passage:passage, page: 'stream'})%>'/>
<input id="chief_passage_id"type="hidden" value="<%=passage.id || 'root'%>"name="chief">
            <input id="is_distraction_free"type="hidden" value="<%=passage.distraction_free || false%>"name="">
            <input type="hidden" value="false", id="is_profile"/>
            <input type="hidden" id="selection">
            <div id="page_title_container">
                <%passageTitle = passageTitle === '' ? 'Untitled' : passageTitle;%>
                <%if(passage.parent != null){%>
                    <div id="parent_title"><span data-url="/passage/<%=encodeURIComponent(passage.parent.title) == '' ? 'Untitled' : encodeURIComponent(passage.parent.title)%>/<%=passage.parent._id%>"id="parent_title2"><%=location.join('/')%></span></div>
                <%}else if (passageTitle != '' && !passageTitle){%>
                <%}else if(!passageTitle){%>
                    <%if(whichPage == 'projects'){%>
                        <div id="page_title">Projects</div>
                    <%}else if(whichPage == 'tasks'){%>
                        <div id="page_title">Tasks</div>
                    <%}else if(whichPage == 'stream'){%>
                    <div id="page_title">Posts <ion-icon id="show-filter-options"title="Show Filter Options"src="/images/ionicons/filter-sharp.svg"></ion-icon></div>
                    <%}else if(whichPage == 'feed'){%>
                    <div id="page_title">Feed <ion-icon id="show-filter-options"title="Show Filter Options"src="/images/ionicons/filter-sharp.svg"></ion-icon></div>
                    <%}else if(whichPage == 'personal'){%>
                    <div id="page_title">Personal</div>
                    <%}%>

                <%}else{%>
                    <%if(!passage.public && !passage.forum){%>
                        <div id="parent_title"><a href="/projects"style="color:white;z-index:999999;position:relative;">Projects</a></div>
                    <%}else if(passage.public && !passage.forum){%>
                        <div id="parent_title"><a href="/tasks"style="color:white;z-index:999999;position:relative;">Tasks</a></div>
                    <%}else if(passage.forum){%>
                        <div id="parent_title"><a href="/forum"style="color:white;z-index:999999;position:relative;">Infinity Forum</a></div>
                    <%}%>
                <%}%>
                <%if(typeof passageTitle != 'undefined' && ((passageTitle == '' || passageTitle.length > 1) && passageTitle != false)){%>
                    <%if(user && passage.watching && passage.watching.includes(user._id)){%>
                        <%var gold = 'color:gold;'%>
                    <%}else{%>
                        <%var gold = '';%>
                    <%}%>
                    <div id="page_title"><a style="text-decoration: none;color:inherit;"href="/passage/<%=passage.title == '' ? 'Untitled' : passage.title%>/<%=passage._id%>"><%= decodeURIComponent(passageTitle) == '' ? 'Untitled' : decodeURIComponent(passageTitle)%></a>&emsp;<ion-icon data-id="<%=passage._id%>"id="show_passage_info"title="Show Info"src="/images/ionicons/information-circle-sharp.svg"></ion-icon><%if(user){%><ion-icon style="<%=gold%>"id="watch-<%=passage._id%>"title="Watch Chapter"src="/images/ionicons/notifications-sharp.svg"></ion-icon><%}%><ion-icon id="show_brief"title="Show Brief"src="/images/ionicons/menu-sharp.svg"></ion-icon><%if(!passage.forum && passage.public){%><ion-icon id="show-filter-options"title="Show Filter Options"src="/images/ionicons/filter-sharp.svg"></ion-icon><%}%></span>
                    <%if(typeof comments != 'undefined' && comments){%>
                        <div style="font-weight:lighter;"id="comment-header">Comments</div>
                    <%}%>
                    </div></div>
                <%}else{%>
                <%}%>
            </div>
            <%-include('label_select');%>
            <%if(passages){%>
                <input id="search"placeholder="Search Posts..." type="" name="" autocomplete="off">
            <%}else if (passage){%>
                <input id="search"placeholder="Search Posts..." type="hidden" name="" autocomplete="off">
                <input id="search_passage"placeholder="Search <%=passage.title%>..." type="" name="" autocomplete="off">
            <%} %>
            <%-include('sort_select');%>
            <%if((typeof comments != 'undefined' && comments == true) || (user && passage.id == 'root') || (user && (passage.public || passageUsers.includes(user._id.toString())))){%>
                <%if((typeof comments != 'undefined' && comments == true) || (passage.id == 'root'  && passage.public_daemon != 2 && passage.default_daemon != true)){%>
                    <button title="Add Passage"id="add_passage_button">+</button>
                    <input id="clean_editor"type="hidden" name=""value='<%- include("clean_editor", {passage:passage, page: 'stream'})%>'/>
                <%}%>
            <%}%>
            <br id="top_spacer">
            <div id="passage_wrapper">
                <!-- Show passage list or search list -->
                <%if(passages){%>
                    <%- include('passages', {page: page}) %>
                <%}else if (passage){%>
                <!-- Just show one passage -->
                    <%- include('passage', {passage: passage, sub: sub, subPassages: subPassages, subPassage: false, page: page}) %>
                <%} %>
            </div>
            <div id="passage_form_wrapper"></div>
            <%if((user && passage.id == 'root') || (user && (passage.author._id == user._id || passage.public || passageUsers.includes(user._id.toString())))){%>
                <%if(passage.id != 'root' && passage.public_daemon != 2 && passage.default_daemon != true && ( typeof comments == 'undefined' || !comments)){%>
                    <button title="Add Passage"id="add_passage_button">+</button>
                <%}%>
            <%}%>
    <br>
        </div>
        <%if(passages){%>
            <div class="passage view-more"id="view_more">View More</div>
        <%}else if (passage && passage.public == true){%>
            <div class="passage view-more"id="view_more">View More</div>
        <%} %>
        <input id="which-page"type="hidden" value="<%=whichPage%>">
        <%if(typeof subforums != 'undefined'){%>
            <input id="yes-subforums"value="true"type="hidden" name="">
        <%}else{%>
            <input id="yes-subforums"value="false"type="hidden" name="">
        <%}%>
        <%if(typeof comments != 'undefined'){%>
            <input id="yes-comments"value="true"type="hidden" name="">
        <%}else{%>
            <input id="yes-comments"value="false"type="hidden" name="">
        <%}%>
        <div style="display:none;"id="small-loading">
            <div style="text-align: center;background:transparent;padding:20px;width:90%;margin:auto;">
             <div class="circle"></div>
             <div class="circle1"></div>
             <div style=" color:rgba(255,255,255,0.9);
             text-shadow:0 0 15px #fff; margin-top:-28px; margin-left:10px; font-weight:bolder">Loading...</div>
            </div>
        </div>
        <%- include('footer') %>
