<%- include('html_head') %>
<link rel="stylesheet" type="text/css" href="/css/new.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
</head>
<%- include('header') %>
<%- include('header2', {
    page: 'more'
}) %>
<%-include('menu')%>
<%-include('sidebar')%>
<%- include('member_box') %>
<br><br><br><br>

<div id="teams_header" style="width:90%;margin:auto;">
    <h2>Teams</h2>
    <p>Manage and view your teams.</p>
    <div>
        <input type="hidden" id="create-team-form-input" value='<%- include('create-team-form')%>'>
        <a id="create-team"class="basic_link">Create Team</a>
    </div>
</div>
<br>
<div id="teams_list" style="width:90%;margin:auto;">
    <% if(teams && teams.length > 0) { %>
        <% teams.forEach(function(team) { %>
            <%- include('team-mini', {team: team}) %>
        <% }); %>
        
        <% if(totalPages > 1) { %>
            <%- include('page-numbers', {
                totalPages: totalPages,
                page: page,
                baseUrl: '/teams'
            }) %>
        <% } %>
    <% } else { %>
        <div style="margin:auto;text-align:center;padding:20px;">
            <p>You are not a member of any teams yet.</p>
            <p>Create a team or ask a team leader to add you to their team.</p>
        </div>
    <% } %>
</div>

<%- include('footer') %>