<input id="chief_passage_id"type="hidden" value="<%=topicID || 'root'%>"name="chief">
<input id="which-page"type="hidden" value="thread">
<div id="thread-passages"class="forum_box">
	<%-include('passage')%>
</div>
<input type="hidden" value="<%=btoa(passage.parent.title)%>|<%=passage.parent._id%>" class="hdn_cat"/>
<input type="hidden" value="<%=btoa(passage.title)%>|<%=passage._id%>" class="hdn_thr"/>